@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Permanent+Marker&display=swap');

body {
    font-size:28px;
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 72px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

